# Model provider
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# Braintrust
BRAINTRUST_API_KEY=
BRAINTRUST_PROJECT_NAME=workshop-agent

# Mastra server
MASTRA_SERVER_API_KEY=

# Mastra storage
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Luma
LUMA_API_KEY=
WORKSHOP_MEETING_URL=https://riverside.com/studio/mastra-workshops

# Sanity
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_TOKEN=
SANITY_WORKSHOP_DOC_TYPE=workshop
SANITY_WORKSHOP_PEOPLE_FIELD=hostReferences

# Slack channel
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
